*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #ffffff;
    --clr-dark: #1d1c19;
    --clr-darker: #0e0d0c;
    --clr-accent: #15b69b;
    --clr-teal: #40798C;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: .25em .25em .75em rgba(0, 0, 0, .80), .125em .125em .25em rgba(0, 0, 0, .80);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 2px;
    transition: all 50ms ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT';
    background-color: var(--clr-teal);
    color: var(--clr-light);
    min-height: 100vh;
    padding: 4%;
}

/* input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
} */

#dateTime {
    text-align : center;
    font-size: var(--fs-h2);
    display: block;
}

#btnBottom {
    margin: 0 auto;
    text-align: center;

}

textarea {
    resize: none;
    border-radius: 8px;
    margin: 15px;
    padding: 10px 15px;
    width: 100%;
    height: 20vh;
    border: unset;
    color: var(--clr-light);
    background-color: var(--clr-darker);
}

form {
    margin: 0 auto;
    padding: 1% 10%;
}

.formHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.formBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBox {
    width: 100%;
    margin: 15px 0;
}

.doneList {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.btn-gradient {
	margin: 5px;
}

.btn-gradient.red:active 	  {
    background: var(--clr-accent);
    color: var(--clr-darker);
}
.btn-gradient.red{ 
    /*margin-top: 40px;*/
    cursor : pointer;
	background: rgba(151, 0, 0,1);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(151, 0, 0)), to(rgb(151, 9, 9)));
	background: -webkit-linear-gradient(rgb(151, 0, 0) 0%, rgb(151, 9, 9) 100%);
	background: -moz-linear-gradient(rgb(151, 0, 0) 0%, rgb(151, 9, 9) 100%);
	background: -o-linear-gradient(rgb(151, 0, 0) 0%, rgb(151, 9, 9) 100%);
    background : linear-gradient(rgb(151, 0, 0) 0%, rgb(151, 9, 9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}
.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}